<template lang="pug">
div(style="min-height:1200px")
  v-parallax(id="rsvp-cover",
    :src="require('@/assets/venice-cover.jpg?vuetify-preload')",
    height="500"
    )
    v-container(fill-height, fluid)
      v-layout(align-center, justify-center, row, wrap)
        v-flex(xs9, sm6, md4, class="passcode-input pt-5" text-xs-center)
          v-text-field(label="Enter Passcode", solo, v-model="passcode", v-on:keyup.enter="submit")
          v-btn(
            class="rsvp-btn"
            color="secondary",
            :disabled="!passcode",
            @click="submit"
          ) RSVP
  v-container()
    v-layout(row, wrap, justify-center, class="title rsvp-deadline ma-5")
      v-flex(text-xs-center)
        | Confirm attendance on or before <div class="pt-4 rsvp-date font-weight-bold">February 11, 2019</div>
    v-container
      v-layout(row, wrap, justify-center, class="headline mb-3 pb-3 detail-title")
        | Location
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(sm6, class="hidden-xs-and-down")
          v-img(
            :src="require('@/assets/location.jpg')")
        v-flex(xs12, sm6, text-xs-center)
          div(class="subheading font-weight-bold event-location")
            | Paris and Venice Function Room, 
          div(class="subheading font-weight-bold event-location")
            | Felicidad Mansion
          div(class="subheading font-weight-light")
            | No. 2 Baler Street Corner Roosevelt Avenue, 
          div(class="subheading font-weight-light")
            | San Francisco del Monte, 
          div(class="subheading font-weight-light")
            | 1105 Quezon City
          div(class="subheading font-weight-light mt-4")
            | There will be <span class="font-weight-bold">free parking</span> within the venue's vicinity.
    v-divider(class="mt-5")
    v-container
      v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 detail-title")
        | Date & Time
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(xs12, sm6, text-xs-center)
          div(class="subheading font-weight-light")
            | The event will take place on
          div(class="text-xs-center pa-4")
            span(class="font-weight-bold event-schedule") 8:30AM, February 25, 2019 (Monday)
          div(class="subheading font-weight-light")
            | We request all guests to come <span class="font-weight-black">on time</span>.
        v-flex(sm6, class="hidden-xs-and-down")
          v-img(
            :src="require('@/assets/time.jpg')")
    v-divider(class="mt-5")
    v-container
      v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 detail-title")
        | Attire
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(sm6, class="hidden-xs-and-down")
          v-img(
            :src="require('@/assets/attire.jpg')")
        v-flex(xs12, sm6, text-xs-center)
          div(class="subheading font-weight-light")
            | <span class="font-weight-bold">Formal attire</span> is required.
          div(class="subheading pt-2 font-weight-light")
            | When choosing what to wear, 
          div(class="subheading font-weight-light")
            | please keep in mind 
            | the Bible's advice 
          div(class="subheading font-weight-light")
            | found at 1 Tim. 2:9, to dress
          div(class="headline pa-4 verse")
            | "...with modesty and soundness of mind."
          div(class="subheading font-weight-light")
            | As an additional request,
            | please wear <span class="font-weight-bold">pastel</span> colors.
          div(class="subheading")
            v-btn(small icon, color="#fea3aa")
            v-btn(small icon, color="#f8b88b")
            v-btn(small icon, color="#faf884")
            v-btn(small icon, color="#baed91")
            v-btn(small icon, color="#b2cefe")
            v-btn(small icon, color="#f2a2e8")
    //- v-divider(class="mt-5")
    //- v-container
    //-   v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 detail-title")
    //-     | Gifts
    //-   v-layout(row, wrap, align-center justify-center, class="pt-0")
    //-     v-flex(xs12, sm6, text-xs-center)
    //-       div(class="subheading font-weight-light")
    //-         | Gifts are <span class="font-weight-bold">not required.</span>
    //-       div(class="subheading pt-2 font-weight-light")
    //-         | However, if you still want to give a gift, 
    //-       div(class="subheading font-weight-light")
    //-         | we kindly request for the gift to be in cash.
    //-       div(class="subheading", class="pt-4")
    //-         | Thank you!
    //-     v-flex(sm6, class="hidden-xs-and-down")
    //-       v-img(
    //-         :src="require('@/assets/gifts.jpg')")
</template>

<script>
export default {
  data() {
    return {
      passcode: null
    }
  },
  methods: {
    submit() {
      if (this.passcode) {
        this.$router.push(
          {'name':'rsvp_detail', 'params': {'code': this.passcode.toLowerCase()}}
        )
      }
    }
  }
}
</script>


<style>
#rsvp-cover .v-parallax__image {
  filter: brightness(75%);
}

.passcode-input {
  margin-top:180px;
}

.event-title {
  font-size:40px !important;
  font-family: 'Lato', sans-serif !important;
}
.rsvp-deadline {
  font-size:18px !important;
  font-family: 'Lato', sans-serif !important;
}

.rsvp-date {
  font-size:24px !important;
}
.rsvp-btn {
  margin-top: -12px;
}

.event-schedule {
  font-size: 20px !important;
}

.event-location {
  font-size: 18px !important;
}

.detail-title {
  font-size: 40px !important;
}

.verse {
  font-family: 'Italianno', cursive !important;
  font-size: 36px! important;
}
</style>
