<template lang="pug">
div()
  v-parallax(id="parallax",
    :src="require('@/assets/feet-cover.jpg')"
    height="300"
    )
  template(v-if="loaded")
    v-container(style="min-height:800px" height="800")
      v-layout(row, wrap, justify-center, class="font-weight-black headline rsvp-title mb-1")
        | Répondez s'il vous plaît
      template(v-if="guests.length > 0")
        v-form(ref="form" v-model="valid" lazy-validation)
          v-layout(row, wrap, justify-center)
            v-flex(xs12, md6, class="pt-5")
              v-data-table(:headers="headers", :items="guests",
                :rows-per-page-items="[{'text':'$vuetify.dataIterator.rowsPerPageAll', 'value': -1}]",
                hide-actions
              )
                template(slot="items" slot-scope="props")
                  td(class="td-item font-italic font-weight-light") {{ props.item.name }}
                  td
                    v-switch(class="mt-4" v-model="props.item.is_attending")
                  td(class="font-italic font-weight-light text-capitalize subheading") {{ props.item.role }}
          v-layout(row, wrap, justify-center)
            v-flex(xs12, md6, class="pt-5 pb-0")
              v-text-field(box, v-model="email",
                label="Leave your email so we can send you pictures of the event :)",
                :rules="[emailRules]",
                validate-on-blur
              )
          v-layout(row, wrap, justify-center)
            v-flex(xs12, md6, class="pt-3")
              v-textarea(label="Please post a message for Carl and Rosemy.",
                v-model="message" maxlength=512, counter
                box)

          div(class="text-xs-center")
            v-btn(@click="submit", color="secondary") Submit
      template(v-else)
        v-layout(row, wrap, justify-center)
          v-container()
            v-layout(row, wrap, align-center justify-center)
              v-flex(xs4 text-xs-center)
                h2(class="py-4")
                  | Sorry!
            v-layout(row, wrap, align-center justify-center)
              v-flex(xs12, sm4)
                div(class="pb-3 subheading")
                  | No such passcode was found.
                div(class="pb-3 subheading")
                  | If you are an invited guest,
                  | please ensure that you typed the correct passcode given to you.
                div(class="pb-3 subheading")
                  | If you are having difficulties accessing the site, feel free to contact us.
            v-layout(row, wrap, align-center justify-center)
              v-btn(
                color="secondary",
                to="/rsvp"
              ) Back
      v-parallax(id="parallax",
        class="mt-5"
        :src="require('@/assets/rsvp-hands.jpg')"
        height="300"
      )


</template>

<script>
import axios from 'axios';

export default {

  mounted() {
    axios.get(
      'v1/rsvp/rsvp_group/' + this.$route.params.code + '/',
      )
      .then(resp => {
        this.guests = resp.data.members;
        this.message = resp.data.message;
        this.email = resp.data.email;
      }).catch(() => {

      }).finally(() => {
        this.loaded = true
      })
  },
  methods: {
    submit() {
      if (!this.$refs.form.validate()) {
        return;
      }
      let data = {
        'members': [],
        'message': this.message,
        'email': this.email,
      };
      for(var guest in this.guests) {
        data['members'].push({
          'id': this.guests[guest].id,
          'is_attending': this.guests[guest].is_attending
        })
      }
      axios.patch(
        'v1/rsvp/rsvp_group/' + this.$route.params.code + '/', JSON.stringify(data), {
            headers: {
                'Content-Type': 'application/json',
            }
        }
      ).then(() => {
        this.$router.push('/thanks')
      })
    }
  },
  data() {
      return {
        valid: true,
        loaded: false,
        headers: [
          {
            text: 'Name',
            value: 'name',
            sortable: false
          },
          {
            text: 'Attending?',
            value: 'is_attending',
            sortable: false,
          },
          {
            text: '',
            value: 'role',
            sortable: false,
          }
        ],
        message: null,
        guests: [],
        email: '',
        emailRules: value => {
          if(value.length > 0) {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return pattern.test(value) || 'Invalid e-mail.';
          }
          return true;
        }
      }
  }
}
</script>

<style scoped>
.rsvp-title {
  font-size: 32px !important;
  font-family: 'Italianno', cursive !important;
}

.td-item {
  font-size:24px;
}

</style>

