<template lang="pug">
div(class="mt-5")
  v-parallax(id="parallax",
    :src="require('../assets/cover-image.jpg?vuetify-preload')"
    height="900"
    class="my-0 py-0 hidden-sm-and-down"
  )
    v-container(fill-height, fluid)
      v-layout(align-center, justify-center, wrap)
          v-flex(xs12, md12, xl12, text-xs-center)
            Countdown(deadline="2019-02-25 08:30:00",class="mt-5")
            v-btn(to="/rsvp", color="secondary", class="mt-5") RSVP Now
  v-parallax(id="parallax",
    :src="require('../assets/cover-image.jpg?vuetify-preload')"
    height="500"
    class="my-0 py-0 hidden-md-and-up"
  )
    v-container(fill-height, fluid)
      v-layout(align-center, justify-center, wrap)
          v-flex(xs12, md12, xl12, text-xs-center)
            Countdown(deadline="2019-02-25 08:30:00",class="mt-5")
            v-btn(to="/rsvp", color="secondary", class="mt-5") RSVP Now
  v-container(class="my-5 pa-5")
    v-layout(justify-center, wrap)
        v-flex(xs12, text-xs-center, class="display-1 theme-text")
          | “I found the one I love.​​”​
        v-flex(xs12, text-xs-center)
          | Song of Solomon 3:4
  //- v-container(fill-height, class="my-3 my-3 pa-5")
  //-   v-layout(align-center, justify-center, wrap)
  //-       v-flex(xs12, md12, xl12, text-xs-center, class="display-1")
  //-         | “[Love’s] flames are a blazing fire, the flame of Jah.”
  //-       v-flex(xs12, md12, xl12, text-xs-center)
  //-         | Song of Solomon 8:6
</template>

<script>
import Countdown from 'vuejs-countdown'

export default {
  components: { Countdown }
}
</script>

<style>
  /* .vuejs-countdown .digit {
    font-size: 64px !important;
  }
  .vuejs-countdown .text {
    font-size: 18px !important;
  }

  .vuejs-countdown li:after {
    font-size: 64px !important;
  } */

  #parallax .v-parallax__image {
    filter: brightness(75%);
  }

  .theme-text {
    font-family: 'Italianno', cursive !important;
    font-size:48px !important;
  }
</style>
