<template lang="pug">
div(class="mt-5", style="min-height:1200px")
  v-container(fluid, class="mt-3 mb-3 pa-5")
    v-layout(align-center, justify-left, wrap, class="pb-4")
      v-flex(text-xs-center, xs12)
        div(class="display-1") The Felicidad Mansion
    v-layout(align-center, justify-center, wrap)
      v-flex(xs12, md6, text-xs-center, class="display-1")
        v-img(
          :src="require('@/assets/felicidadmansion.jpg?vuetify-preload')")
      v-flex(xs12, md6, text-xs-center)
        v-container
          v-layout(row, wrap)
            v-flex(xs12)
              div(class="map-responsive")
                iframe(
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30881.504341128562!2d121.01564462275864!3d14.645264695527155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b658e8328909%3A0xa590e680affc1a0d!2sThe+Felicidad+Mansion!5e0!3m2!1sen!2sph!4v1545811740499"
                  width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
  v-divider(class="my-3")
  v-container()
    v-layout(row, wrap, justify-center, class="display-1 nearby-places-header")
      | Nearby Places
    v-container
      v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 nearby-place-title")
        | Bethel
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(xs12, sm6, text-xs-center, class="px-4 py-1")
          div(class="subheading")
            | In the Hebrew language, Bethel means the "House of God."
          div(class="subheading pt-3")
            | If interested, schedule a tour through your local congregation, and see 
            | how the ministry work is being supported in the Philippines.
            | The Philippine branch is just a few meters away from Felicidad Mansion.
          div(class="subheading pt-3")
            | The <a href="https://www.jw.org/en/jehovahs-witnesses/offices/philippines/">
            | Philippine Branch Office of Jehovah's Witnesses</a> 
            | is responsible for translating 
            | the Watchtower magazine into eight of the major languages of the Philippines,
            | creating audio and video recordings in ten languages,
            | and shipping literature to 3,419 congregations.
        v-flex(xs12, sm6, class="pt-3")
          div(class="map-responsive")
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.2358077249205!2d121.01467571439821!3d14.642551479973834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b6593f62f443%3A0x4774ed7f75b0c948!2sWatchtower+Bethel+Branch+Office+(Watch+Tower+Bible+and+Tract+Society)!5e0!3m2!1sen!2sph!4v1546052225515"
            width="500" height="350" frameborder="0" style="border:0" allowfullscreen)
    v-divider(class="mt-5")
    v-container
      v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 nearby-place-title")
        | UP Diliman
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(xs12, sm6, text-xs-center, class="px-4 py-1")
          div(class="subheading")
            | <a href="https://upd.edu.ph/about/visit-upd/">University of the Philippines Diliman</a> 
            | is the flagship campus 
            | and seat of administration of the University of the Philippines System, 
            | the national university of the Philippines.
        v-flex(xs12, sm6, class="pt-3")
          div(class="map-responsive")
            iframe(
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.0368116167024!2d121.06634011439833!3d14.653851879699102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b76e0a414405%3A0x1c2a97897bd895eb!2sUniversity+of+the+Philippines+Diliman!5e0!3m2!1sen!2sph!4v1546052481866"
            width="500" height="350" frameborder="0" style="border:0" allowfullscreen)
    v-divider(class="mt-5")
    v-container
      v-layout(row, wrap, justify-center, class="headline ma-3 pb-3 nearby-place-title")
        | SM North & Trinoma
      v-layout(row, wrap, align-center justify-center, class="pt-0")
        v-flex(xs12, sm6, text-xs-center, class="px-4 py-1")
          div(class="subheading")
            | If you're up for a little shopping,
            | <a href="http://www.sm-northedsa.com/plan-your-visit">SM North</a> and 
            | <a href="http://www.ayalamalls.com.ph/malls-philippines/trinoma-quezon-city/shopping-dining">Trinoma</a>
            | are just the places to visit.
        v-flex(xs12, sm6, class="pt-3")
          div(class="map-responsive")
            iframe(
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.0510628150023!2d121.03122521439829!3d14.653042879718752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b6fd779964b5%3A0x5167e834bcc4a1d0!2sTriNoma!5e0!3m2!1sen!2sph!4v1546053259658"
            width="500" height="350" frameborder="0" style="border:0" allowfullscreen)

</template>

<script>

export default {
}
</script>

<style scoped>
.nearby-place-title {
  font-size: 32px !important;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.nearby-places-header {
  font-size:40px !important;
  font-family: 'Lato', sans-serif !important;
}
</style>