<template lang="pug">
v-footer(color="accent", dark, height="auto")
  v-container
    v-layout(align-center, justify-center, wrap)
        v-flex(xs12, class="my-3 headline") Contact Information
    v-layout(align-center, wrap)
      v-flex(xs6, sm6)
        v-container(class="px-0")
          v-layout(align-center, wrap)
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon person
              | Carl Yu
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon phone
              | +63 9217781866
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon email
              | hi@carlearvin.com
      v-flex(xs6 sm6)
        v-container(class="px-0")
          v-layout(align-center, wrap)
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon person
              | Rosemy Baggay
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon phone
              | +63 9193517941
            v-flex(xs12, sm9, offset-sm3)
              v-avatar(size="36px", class="hidden-xs-only")
                v-icon email
              | rosemy@carlearvin.com
</template>

<script>
export default{

}
</script>
