<template lang="pug">
div(v-if="showNav", id="navbar")
  v-toolbar(app, color="accent", prominent, dark, class="elevation-0")
    v-toolbar-title(class="headline toolbar-title")
      router-link(to="/")
        v-avatar(size="48px" tile)
          img(src="@/assets/wedico.svg" )
        //- span(class="font-weight-light hidden-xs-only") Baggay-Yu
    v-spacer
    v-toolbar-items
      v-btn(flat, :to="{'name': 'rsvp_search'}") RSVP
      //- v-btn(flat, color="primary") Gallery
      v-btn(flat, :to="{'name': 'venue'}") Venue
      //- v-btn(flat, color="primary") About
    //- v-toolbar-items(class="hidden-md-and-up")
    //-   v-menu(offset-y)
    //-     v-btn(slot="activator", flat, dark)
    //-       v-icon menu
    //-     v-list
    //-       v-list-tile(@click="$router.push('/rsvp')")
    //-         v-list-tile-title RSVP
    //-       v-list-tile(@click="$router.push('/venue')")
    //-         v-list-tile-title Venue

</template>

<script>
export default {
  props: {
      showNav: {
          default: true
      }
  },

};
</script>

<style scope>
#navbar {
  opacity: 1.0;
}
/* .toolbar-title a{
  color: inherit;
  text-decoration: none;
  font-family: 'Italianno', cursive !important;
  font-size:36px !important;
} */

</style>
