<template lang="pug">
v-app
  TheNavBar(:show-nav="true")
  router-view(class="main-body")
  TheFooter
</template>

<script>

import TheNavBar from '@/components/TheNavBar'
import TheFooter from '@/components/TheFooter'
export default {
  name: 'App',
  components: {
    TheNavBar,
    TheFooter
  },
  data () {
    return {
      //
    }
  }
};
</script>

<style>
.main-body {
  /* padding-bottom: 250px; */
  /* min-height:1200px; */
}
</style>
